CONVEX_DEPLOYMENT=dev:curious-anteater-164 # team: maffiakhate, project: react-native-todo-convex

EXPO_PUBLIC_CONVEX_URL=https://curious-anteater-164.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://curious-anteater-164.convex.site